.feed {
  overflow-y: scroll;
  min-height: auto;
  /* flex: 0 1 auto; */
  order: 1;
  width: 50%;
  left: 20%;
  position: absolute;
}

.feed-mobile {
  overflow-y: scroll;
  min-height: auto;
  /* flex: 0 1 auto; */
  width: 100%;
  left: 0;
  order: 1;
  position: absolute;
}

.feed::-webkit-scrollbar {
  display: none;
}
